@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

h1{
    font-family: 'Lobster', cursive;
    font-size: 100px;
    color: whitesmoke;
    text-align: center;
}
h3{
    font-family: 'Lobster', cursive;
    color: whitesmoke;
    text-align: center;
    font-size: 50px;
}
.card,card-body{
    padding-left:10%;
    padding-right:5%;
    background-color: rgb(0,0,0,0.9);
    opacity: 0.9;
    color:white;
    background-size: cover;
    border: 2px solid white;
}
.container{
    padding-left: 30%;
    padding-right: 30%;
}
.container-fluid{
    background-image: url('./img1.jpg')
}
.row{
    background-color: rgb(0,0,0,0.9);
    opacity: 0.5;
    color:white;
    background-size: auto;
    background-position: cover;
}
.cont{
    padding-bottom:8%;
     padding-top:5%;
     padding-left: 15%;
     padding-right:15%
}
img{
    border:1px solid white;
    border-radius: 50%;
}

.disp{
    padding-top:3%;
    display: flex;
    flex-direction: row;
    padding-left:20px
}